@import '../styles/common'

.header
  height 50px
  position absolute
  top 0
  left 0
  width 100%
  border-bottom 1px solid #d8d8d8
  .title
    margin 0 auto
    margin-top 15px
    letter-spacing -1px
    position relative
    width 340px
    font-weight 700
    font-size 1.5rem
    text-align center
    a:link
    a:visited
    a:hover
    a:active
      text-decoration none
      color color5