@import '../styles/common'

.newsletter
  margin-top 20px
  position relative
  background-color rgb(200,200,200)
  padding 20px 0 20px 0
  .container
    margin 0 auto
    position relative
    common-max-width()