color1 = #9CE5EE
color2 = #39CBDD
color3 = #156C77
color4 = #0B363C
color5 = #072428

main-margin-top = 50px

font1()
  font-size 1.5rem
  font-weight 700

font2()
  font-size 1.2rem
  font-weight 400

common-max-width()
  max-width 800px

flex-center()
  display flex
  justify-content center
  align-items center
  flex-direction column